*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
    font-size: 14px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 14px;
    padding: 0 20px 0 20px;    
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-evenly;
    place-items: center center;
    border-bottom: 2px solid #EFF5FB;
    padding-bottom: 20px;
}
.header__logo{
    margin-right: 51px;
    cursor: pointer;
}
.header__nav{
    margin-right: 164px;
}
.header__list{
    display: flex;
    gap: 30px;
}
.link{
    color: black;
    text-decoration: none;
}
.header__link:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
}
.btn{
    align-items: center;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.header__btn {
    display: inline-flex;
    padding: 14px 20px;
    gap: 10px;
    background: #E3F5F5;
    color: #03B2A5;
}
.header__btn:active {
    background: #cbf1f1;
 
}

.breadcrumb {
    display: inline-flex;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: rgba(51, 51, 51, 0.70);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}
.breadcrumb__item {
    display: flex;
}
.breadcrumb__link {
    color: rgba(51, 51, 51, 0.70);
}
.breadcrumb__link:hover {
    text-decoration: underline;
    color: black;
}
.breadcrumb li+li::before{
    content: url(../icon/Arrow.-right.svg);
    text-align: center;
    align-items: center;
}
.hero__h1{
    color: #333;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
.hero__btn-item {
    padding: 6px 8px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: transparent;
    cursor: pointer;
}
.hero__btn-item:hover {
    border: 1px solid #16C8BB;
}
.hero__all-posts {
    margin-top: 23px;
}
.pointer {
    cursor: pointer;

}
.hero__pointer {
    cursor: pointer;
    border: 1px solid #C1C5CD;
    border-radius: 18px;
}
.hero__pointer:hover {
    border-radius: 18px;
    border: 1px solid #16C8BB;
}
.hero__main-posts {
    display: flex;
    align-items: stretch;
    gap: 24px;    background-color: #FFF;

}
.hero__main-post-first,
.hero__main-post-second  {
    width: 50%;
    position: relative;
    overflow: hidden;  
}

.hero__img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.hero__text{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.hero__h2 {
    color: #333;
}
.hero__author {
    color: #494949;
    font-size: 12px;
    line-height: 18px; letter-spacing: 0.25px;
    margin: 4px 0px 8px 0px;
}
.hero__about-post {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 68px;
    flex-grow: 1;
}
.hero__about-post_grow-zero {
    flex-grow: 0;

}
.hero__date {
    color: #868686;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}
.hero__link-first-item {
    position: absolute;
    top: 8px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.800);
    padding: 6px 8px;
}
.hero__link-second-item {
    position: absolute;
    top: 48px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.800);
    padding: 6px 8px;
}
.hero__link-first-item:hover,
.hero__link-second-item:hover {
    background: rgba(228, 227, 227, 0.8);

}
.hero__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 24px;
}
.hero__post-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__btn-more {
    display: flex;
    justify-content: center;
    background: #35B3A9;
    width: 182px;
    padding: 12px 16px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 96px;
}
.hero__btn-more:hover {
    background: #30968d;

}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #2963A3;
    padding: 40px 120px 17px 120px;
}
.footer > p {
    color: #FFF;
}
.footer__nav {
    display: flex;
    gap: 93px;
    padding-bottom: 24px;
    /* width: 1200px; */
    border-bottom: 1px solid rgba(157, 157, 157, 0.3) ;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
}
.footer__link {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;

}
.footer__link:hover {
    color: #dfdfdf;
}
.footer__h2 {
    color: #FFF;
}
.footer__send-email {
    display: flex;
}
.footer__input-email {
    width: 384px;
    height: 48px;
    margin: 8px 0 8px 0;
    padding: 14px 0 14px 16px;
    color: #9D9D9D;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.footer__btn-send {
    position: relative;
    right: 5px;
    top: 2px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.footer__btn-send:active {
    background-color: #2963A3;
}
.footer__personal-data {
    color: #FFF;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
}
.footer__skolkovo {
}
.footer__social {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 30% 10%; 
    gap: 16px;
    grid-template-areas: 
      "skolkovo skolkovo skolkovo skolkovo"
      "vk tg tw ya"; 
    }
.footer__social-item {
    border-radius: 60px;
    background: #EFF5FB;
    width: 32px;
    height: 32px;
    color: black;
}
.skolkovo {
    grid-area: skolkovo;
}
.vkontakte {
    grid-area: vk;
}
.telegram {
    grid-area: tg;
}
.twitter {
    grid-area: tw;
}
.yandex {
    grid-area: ya;
}
.footer__other {
    display: flex;
    gap: 48px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.700);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.footer__douments:hover {
    color: rgba(255, 255, 255);
}
.footer__pay:hover {
    color: rgba(255, 255, 255);
}

.hero__bg-post img {
    z-index: -1;
    position: absolute;
    top: 350px;
    width: 100%;
}
@media (max-width: 1210px) {
    .container {
        max-width: 960px;
    }
    .header{
        border-bottom: 1px solid #EFF5FB;
    }
    
    .header__nav{
        margin-right: 20px;
    }
    
    .header__logo{
        margin-right: 32px;
    }
    .header__list{
        gap: 16px;
    }     
    .hero__bg-post {
        display: none;
    }
    .footer {
        justify-content: space-evenly;
        padding: 40px 26px 17px 38px;
    }
    .footer__nav {
        gap: 30px;
    }
    /* .footer__link {
        white-space: nowrap;
    } */
}